In [ ]:
#solution1
if __name__ == '__main__':
    print "Hello, World!"

In [ ]:
#solution2
#!/bin/python

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(raw_input().strip())
if(n%2==1):
    print("Weird")
if(n%2==0 and n>=2 and n<=5):
    print("Not Weird");
if(n%2==0 and n>=6 and n<=20):
    print("Weird")
if(n%2==0 and n>20):
    print("Not Weird")

In [ ]:
#solution3
if __name__ == '__main__':
    a = int(raw_input())
    b = int(raw_input())
print(a+b)
print(a-b)
print(a*b)

In [ ]:
#solution4
from __future__ import division

if __name__ == '__main__':
    a = int(raw_input())
    b = int(raw_input())
print(a//b)
print(a/b)

In [ ]:
#solution5
if __name__ == '__main__':
    n = int(raw_input())
for x in range(0,n):
    print(x*x)

In [ ]:
#solution6
def is_leap(year):
    leap = False
    
    if(year%4==0 and year%100!=0):
      leap=True;
    if(year%400==0):
      leap=True;
    return leap

In [ ]:
#solution7
from __future__ import print_function

if __name__ == '__main__':
    n = int(raw_input())
s=0;
for x in range(1,n+1):
    print(x,end='');

In [ ]:
#Solution_SQL

In [ ]:
#Revising the Select Query I
select * 
from city
where countrycode='USA' and population>100000

In [ ]:
#Revising the Select Query II
select name
from city
where countrycode='USA' and population>120000

In [ ]:
#Select All
select *
from city

In [ ]:
#Select By ID
select *
from city
where ID=1661

In [ ]:
#Japanese Cities' Attributes
select *
from city
where countrycode='JPN'

In [ ]:
#Japanese Cities' Names
select name
from city
where countrycode='JPN'

In [ ]:
#Weather Observation Station 1
/*
Enter your query here.
*/
select city,state
from station

In [ ]:
#Weather Observation Station 3
/*
Enter your query here.
*/
select distinct city
from station
where mod(id,2)=0

In [ ]:
#Weather Observation Station 4
/*
Enter your query here.
Please append a semicolon ";" at the end of the query and enter your query in a single line to avoid error.
*/
select count(city)-count(distinct city)
from station

In [ ]:
#Weather Observation Station 5
select *
from (select city,soluong
from station,(select id, length(city) as soluong from station) as tam
where station.id= tam.id
order by soluong, city
limit 0,1) as tam1
union 
select*
from (select city,soluong
from station,(select id, length(city) as soluong from station) as tam
where station.id= tam.id
order by soluong desc, city
limit 0,1) as tam2

In [ ]:
#Weather Observation Station 6
select distinct city
from station
where left(city,1)='a' or left(city,1)='e' or left(city,1)='i' or left(city,1)='o' or left(city,1)='u'

In [ ]:
#Weather Observation Station 7
select distinct city
from station
where right(city,1)='a' or right(city,1)='e' or right(city,1)='i' or right(city,1)='o' or right(city,1)='u'

In [ ]:
#Weather Observation Station 8
select distinct city
from station
where (left(city,1)='a' or left(city,1)='e' or left(city,1)='i' or left(city,1)='o' or left(city,1)='u') and (right(city,1)='a' or right(city,1)='e' or right(city,1)='i' or right(city,1)='o' or right(city,1)='u')

In [ ]:
#Weather Observation Station 9
/*
Enter your query here.
*/
select distinct city
from station
where left(city,1) not in ('a','e','i','u','o')

In [ ]:
#Weather Observation Station 10
select distinct city
from station
where right(city,1) not in ('a','e','i','u','o')

In [ ]:
#Weather Observation Station 11
select distinct city
from station
where (right(city,1) not in ('a','e','i','u','o')) or (left(city,1) not in ('a','e','i','u','o'))

In [ ]:
#Weather Observation Station 12
select distinct city
from station
where (right(city,1) not in ('a','e','i','u','o')) and (left(city,1) not in ('a','e','i','u','o'))