# Team 4 - TED Talks

![](https://psmarketingimages.s3.amazonaws.com/blog/wp-content/uploads/2017/04/23103819/TED-Talks-for-Small-Business-and-Entrepreneurs.jpg)

_For more information about the dataset, read [here](https://www.kaggle.com/rounakbanik/ted-talks)._

## Your tasks
- Name your team!
- Read the source and do some quick research to understand more about the dataset and its topic
- Clean the data
- Perform Exploratory Data Analysis on the dataset
- Analyze the data more deeply and extract insights
- Visualize your analysis on Google Data Studio
- Present your works in front of the class and guests next Monday

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

## Tips for Data Cleaning, Manipulation & Visualization
- Here are some of our tips for Data Cleaning, Manipulation & Visualization. [Click here](https://hackmd.io/cBNV7E6TT2WMliQC-GTw1A)

_____________________________

## Some Hints for This Dataset:
- The `ratings` column is in dictionary format. How should we handle them?
- Same for `related_talks` and `tags` column
- Can you find the `year` of the talks?
- And more...

In [1]:
# Start your codes here!
import pandas as pd

load dữ liệu lên từ file

In [2]:
ted=pd.read_csv("./ted.csv")

- Kiểm tra các thông số của data, thông tin của mỗi cột.
- Dựa vào thông tin ở dưới ta sẽ có nhận xé về ratings. ratings bình thường sẽ là một giá trị thực nhưng ở đây nó lại là object.

In [49]:
ted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 17 columns):
comments              2550 non-null int64
description           2550 non-null object
duration              2550 non-null int64
event                 2550 non-null object
film_date             2550 non-null int64
languages             2550 non-null int64
main_speaker          2550 non-null object
name                  2550 non-null object
num_speaker           2550 non-null int64
published_date        2550 non-null int64
ratings               2550 non-null object
related_talks         2550 non-null object
speaker_occupation    2544 non-null object
tags                  2550 non-null object
title                 2550 non-null object
url                   2550 non-null object
views                 2550 non-null int64
dtypes: int64(7), object(10)
memory usage: 338.8+ KB

Load thông tin của 5 dòng đầu ta thấy ở cột ratings ó là một object gồm nhiều thông tin. ta sẽ thử khai thác cột ratings.

In [4]:
ted.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

- lấy xem các dữ liệu ở cột rating.
- Qua việc lấy dữ liệu ta thấy rằng mỗi video sẽ thuộc mỗi video và mỗi video sẽ thuộc mỗi name. và số lượng count sẽ khác nhau ở mỗi video.

In [6]:
ted['ratings'].unique()

array(["[{'id': 7, 'name': 'Funny', 'count': 19645}, {'id': 1, 'name': 'Beautiful', 'count': 4573}, {'id': 9, 'name': 'Ingenious', 'count': 6073}, {'id': 3, 'name': 'Courageous', 'count': 3253}, {'id': 11, 'name': 'Longwinded', 'count': 387}, {'id': 2, 'name': 'Confusing', 'count': 242}, {'id': 8, 'name': 'Informative', 'count': 7346}, {'id': 22, 'name': 'Fascinating', 'count': 10581}, {'id': 21, 'name': 'Unconvincing', 'count': 300}, {'id': 24, 'name': 'Persuasive', 'count': 10704}, {'id': 23, 'name': 'Jaw-dropping', 'count': 4439}, {'id': 25, 'name': 'OK', 'count': 1174}, {'id': 26, 'name': 'Obnoxious', 'count': 209}, {'id': 10, 'name': 'Inspiring', 'count': 24924}]",
       "[{'id': 7, 'name': 'Funny', 'count': 544}, {'id': 3, 'name': 'Courageous', 'count': 139}, {'id': 2, 'name': 'Confusing', 'count': 62}, {'id': 1, 'name': 'Beautiful', 'count': 58}, {'id': 21, 'name': 'Unconvincing', 'count': 258}, {'id': 11, 'name': 'Longwinded', 'count': 113}, {'id': 8, 'name': 'Informative', 'count': 443}, {'id': 10, 'name': 'Inspiring', 'count': 413}, {'id': 22, 'name': 'Fascinating', 'count': 132}, {'id': 9, 'name': 'Ingenious', 'count': 56}, {'id': 24, 'name': 'Persuasive', 'count': 268}, {'id': 23, 'name': 'Jaw-dropping', 'count': 116}, {'id': 26, 'name': 'Obnoxious', 'count': 131}, {'id': 25, 'name': 'OK', 'count': 203}]",
       "[{'id': 7, 'name': 'Funny', 'count': 964}, {'id': 3, 'name': 'Courageous', 'count': 45}, {'id': 9, 'name': 'Ingenious', 'count': 183}, {'id': 1, 'name': 'Beautiful', 'count': 60}, {'id': 21, 'name': 'Unconvincing', 'count': 104}, {'id': 11, 'name': 'Longwinded', 'count': 78}, {'id': 8, 'name': 'Informative', 'count': 395}, {'id': 10, 'name': 'Inspiring', 'count': 230}, {'id': 22, 'name': 'Fascinating', 'count': 166}, {'id': 2, 'name': 'Confusing', 'count': 27}, {'id': 25, 'name': 'OK', 'count': 146}, {'id': 24, 'name': 'Persuasive', 'count': 230}, {'id': 23, 'name': 'Jaw-dropping', 'count': 54}, {'id': 26, 'name': 'Obnoxious', 'count': 142}]",
       ...,
       "[{'id': 1, 'name': 'Beautiful', 'count': 14}, {'id': 8, 'name': 'Informative', 'count': 32}, {'id': 9, 'name': 'Ingenious', 'count': 19}, {'id': 10, 'name': 'Inspiring', 'count': 30}, {'id': 3, 'name': 'Courageous', 'count': 2}, {'id': 2, 'name': 'Confusing', 'count': 5}, {'id': 22, 'name': 'Fascinating', 'count': 24}, {'id': 21, 'name': 'Unconvincing', 'count': 1}, {'id': 25, 'name': 'OK', 'count': 4}, {'id': 24, 'name': 'Persuasive', 'count': 3}, {'id': 7, 'name': 'Funny', 'count': 1}, {'id': 23, 'name': 'Jaw-dropping', 'count': 1}, {'id': 11, 'name': 'Longwinded', 'count': 0}, {'id': 26, 'name': 'Obnoxious', 'count': 0}]",
       "[{'id': 11, 'name': 'Longwinded', 'count': 3}, {'id': 21, 'name': 'Unconvincing', 'count': 6}, {'id': 7, 'name': 'Funny', 'count': 63}, {'id': 10, 'name': 'Inspiring', 'count': 147}, {'id': 22, 'name': 'Fascinating', 'count': 39}, {'id': 8, 'name': 'Informative', 'count': 75}, {'id': 9, 'name': 'Ingenious', 'count': 37}, {'id': 24, 'name': 'Persuasive', 'count': 65}, {'id': 3, 'name': 'Courageous', 'count': 107}, {'id': 1, 'name': 'Beautiful', 'count': 21}, {'id': 25, 'name': 'OK', 'count': 5}, {'id': 26, 'name': 'Obnoxious', 'count': 7}, {'id': 23, 'name': 'Jaw-dropping', 'count': 7}, {'id': 2, 'name': 'Confusing', 'count': 1}]",
       "[{'id': 21, 'name': 'Unconvincing', 'count': 21}, {'id': 8, 'name': 'Informative', 'count': 25}, {'id': 10, 'name': 'Inspiring', 'count': 26}, {'id': 25, 'name': 'OK', 'count': 11}, {'id': 22, 'name': 'Fascinating', 'count': 9}, {'id': 9, 'name': 'Ingenious', 'count': 14}, {'id': 2, 'name': 'Confusing', 'count': 3}, {'id': 26, 'name': 'Obnoxious', 'count': 4}, {'id': 1, 'name': 'Beautiful', 'count': 12}, {'id': 11, 'name': 'Longwinded', 'count': 9}, {'id': 24, 'name': 'Persuasive', 'count': 5}, {'id': 23, 'name': 'Jaw-dropping', 'count': 3}, {'id': 3, 'name': 'Courageous', 'count': 0}, {'id': 7, 'name': 'Funny', 'count': 0}]"],
      dtype=object)

thống kê 10 video có số lượng lượt xem cao nhất.

In [16]:
ted.sort_values(['views'],ascending=False)['title'].head(10)

0                             Do schools kill creativity?
1346             Your body language may shape who you are
677                      How great leaders inspire action
837                            The power of vulnerability
452                10 things you didn't know about orgasm
1776           How to speak so that people want to listen
201                                  My stroke of insight
5                                    Why we do what we do
2114    This is what happens when you reply to spam email
1416    Looks aren't everything. Believe me, I'm a model.
Name: title, dtype: object

Xem thử các diễn giả có số lần suất hiện trên ted.

In [56]:
tam1=tam['main_speaker'].value_counts().head()
#tam1.reset_index()
#tam1.sort_values(['main_speaker'],ascending=False)
tam1

main_speaker         main_speaker
 OK Go                OK Go                 1
 Rodrigo y Gabriela   Rodrigo y Gabriela    1
 Silk Road Ensemble   Silk Road Ensemble    1
 Sofi Tukker          Sofi Tukker           1
AJ Jacobs            AJ Jacobs              3
Name: main_speaker, dtype: int64